body {
  margin:0;
  color:white;
}
.section {
  padding:20px;
}
.front {
  background-color:yellow;
  background-image:url(https://d1v8u1ev1s9e4n.cloudfront.net/556387b6067d7b306d2e2a1f);
  background-size:cover;
  background-position:center;
}

.front h1, .front h4, .front p {
  text-align:center;
  text-shadow:0 0 6px #000;
}
.red {
  background-color:red
}
#nosotros {
  background:#0f336d;
  color:white;
  text-transform:uppercase;
  padding:10px 15px;
  font-weight:600;
  border-radius:3px;
  text-decoration:none;
  border-bottom: 4px solid blue;
}
#nosotros:hover {
  background-color:red;
  border-bottom: 4px solid blue;
}
.link {
  margin-top:50px;
}
.contact {
  color: black;
  background: blue;
}
.portfolio {
  color: black;
  background: url(img/portafolio.jpg);
 }
 .contact {
  background: url(img/contacto.jpg);
  background-size: cover;
  background-position: center;
 }
.contact .pp-tableCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 800px;
  padding: 20px;
}

input, textarea {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  border-bottom:3px solid blue;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border-bottom: 3px solid orange;
}
input {
  height: 60px;
}
input[type="submit"] {
  height: 30px;
  background-color: blue;
  padding: 0
  color:white;
  width: 30%;
}
input[type="submit"]:hover {
  background-color: orange;
}
label {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
